body {
	background-color: black;
	color: white;
}

h1 {
	font-size: 20px;
}

p {
	font-size: 12px;
	color: lightgray;
}

div.box {
	border: dotted 2px;
	width: 100px;
	height: 100px;
}

ol {
  list-style-type: upper-alpha;
}

ul {
  list-style-type: square;
}